

.cart .parent {
    display: flex;
    background-color: blue;
}

.cart .parent .prods {
    flex: 4;
}

.cart .parent .side {
    flex: 2;
}

.container {
    flex-direction: row;
    height: fit-content;
    width: 100%;

}
